{% extends "header.html" %}
{% block content %}
<div class="row mt-3">
    <div class="col">
        {# Display any error messages #}
        {% if error %} 
        Usernmae doesn't exist
        {%endif%}
    </div>
</div>
{% if not error%}
<div class="row mt-3">
    <div class="col">
        {# Indicate which user's reviews we're looking at #}
        <h4>Reviews by {{user.username}}</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Show all reviews made by the user #}
        <h1> Reviews <small class="float-right">{{ reviews|length }} reviews</small></h1>
        <ul class="media-list">
        {% for review in reviews %}
        <li class="media review-item">
            <div class="media-body">
            <span class="float-right">
                <small>{{ review.date }}</small>
            </span>
            <a href="{{ url_for('not_users.professor_page', professor=review.professor) }}">
                <strong>Professor {{ review.professor }}</strong>
            </a>
            <p>Rated {{ review.rating }} Out of 10</p>
            <p>
                {{ review.text }}
            </p>
            </div>
        </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}